body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}
.semana{
    background-color: #000000;
    color: #fff;
    padding: 10px;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}
.semana:hover{
    background-color: #212020;
}
.contedor-tom{
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}
    .tema-semanal{
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 8px #ccc, 0 0 10px #000;
        border-radius: 30px;
        padding: 10px;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 400px;
    }
    .tema-semanal:hover{
        height: 305px;
        width: 405px;
    }
    .contenedor-om{
        border-radius: 30px;
    }
        .contenedor-objetivos, .materiales-semanales {
            box-shadow: 0 0 10px #212121;
            padding: 10px;
            margin: 10px;
            height: 150px;
            width: 400px;
            border-radius: 10px;
            transition: height 3s, width 3s, transform 3s;
        }
        .contenedor-objetivos:hover, .materiales-semanales:hover{
            height: 155px;
            width: 405px;
            transform: rotate(2deg);
        }
.contenedor-aprendizaje{
    background-color: #fff;
    margin-top: 0;
    padding: 15px;
}
    .queAprendi{
        text-align: center;
        background: #212121;
        color: #fff;
        padding: 15px;
        margin-bottom: 0;
        transition: background 3s ease;
    }
    .queAprendi:hover{
        background: linear-gradient(90deg, #1e3c72, #2a5298);
        color: #fff;
    }
    .subtemas{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        border: 1px solid #000;
        margin-top: 0;
    }
        .contenedor-subtema{
            box-shadow: 0 0 10px #ccc;
            width: 40%;
            min-width: 200px;
            padding: 10px;
            flex-grow: 1;
            transition: box-shadow 3s ease, transform 3s ease;
        }
        .contenedor-subtema:hover{
            box-shadow: 0 0 10px #000000;
            transform: scale(1.01);
        }
.contenedor-practicas{
    background-color: #f6f6f6;
    color: #000;
}
